---
import Layout from "@layouts/Layout.astro"
---

<Layout title="404">
  <main class="grow flex flex-col items-center justify-center gap-2">
    <h1 class="text-8xl font-medium">404</h1>
    <p class="text-3xl">Página no encontrada</p>
    <a href="/" class="text-xl hover:underline">Volver al inicio</a>
  </main>
</Layout>
