---
import Layout from "@layouts/Layout.astro"
---

<Layout title="Tu cuenta">
  <main class="grow flex flex-col gap-14 pt-10 pb-32">
    <div class="mx-auto max-w-96 text-center">
      <h1 class="text-4xl font-medium">Tu Cuenta</h1>
      <p>En esta sección podrás ver tus compras, tus datos y tus direcciones de envío.</p>
    </div>
  </main>
</Layout>
