---
import Layout from "@layouts/Layout.astro"
import Socials from "@components/Socials.astro"
import { SITE_TELEPHONE, SITE_WHATSAPP, SITE_SOCIAL_LINKS } from "@consts"

const telephoneNumber = SITE_TELEPHONE
const whatsappNumber = SITE_WHATSAPP

const formattedNumber = (phoneNumber: string) =>
  phoneNumber.replace(/(\d{2})(\d{3})(\d{3})(\d{4})/, "+$1 ($2) $3-$4")
---

<Layout title="Contacto">
  <main class="grow flex flex-col items-center gap-10 py-12 px-4 w-full">
    <h1 class="w-fit text-5xl font-medium">Contacto</h1>
    <section class="flex gap-32">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.7328245543395!2d-74.78997312402113!3d10.983527889178111!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef42d641a0c0001%3A0x13e8b16dca7eff90!2sDunor%20Boutique!5e0!3m2!1ses!2sco!4v1708386326544!5m2!1ses!2sco"
        width="650"
        height="500"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
      <article class="flex flex-col items-end gap-8 text-xl text-right">
        <div>
          <h2 class="text-3xl font-bold">Dirección:</h2>
          <address>Calle 47 #43-15, Local 2C Esquina</address>
          <address>Barranquilla, Colombia</address>
        </div>

        <div>
          <h2 class="text-3xl font-bold">Horarios:</h2>
          <p class="flex flex-col gap-1">
            <span>Lunes a Viernes de 10 am a 7 pm</span>
            <span>Sábados de 10 am a 5 pm</span>
          </p>
        </div>

        <div>
          <h2 class="text-3xl font-bold">Teléfono:</h2>
          <a href={`tel:+${telephoneNumber}`} title="Telephone Number" class="underline">
            {formattedNumber(telephoneNumber)}
          </a>
        </div>

        <div>
          <h2 class="text-3xl font-bold">Whatsapp:</h2>
          <a
            href={SITE_SOCIAL_LINKS.whatsapp}
            title="Whatsapp link"
            target="_blank"
            rel="noopener noreferrer"
            class="underline"
          >
            {formattedNumber(whatsappNumber)}
          </a>
        </div>
        <Socials size="lg" />
      </article>
    </section>
  </main>
</Layout>
