---
import Socials from "./Socials.astro"
---

<footer
  class="flex flex-wrap justify-center items-center gap-x-12 gap-y-4 py-4 px-8 text-white bg-dunor-black"
>
  <Socials className="hidden md:flex" />
  <img src="/icons/shield.svg" class="w-16 sm:w-20" alt="Dunor Shield logo" />
  <div class="flex flex-col items-center gap-4">
    <Socials className="md:hidden" />
    <nav class="flex flex-wrap items-center gap-4 text-lg">
      <a class="hover:underline" href="#">English</a>
      <a class="hover:underline" href="/services">Servicios</a>
      <a class="hover:underline" href="/contact">Contacto</a>
    </nav>
  </div>
</footer>
