---
import { getCategories } from "@db/categories"
import MenuButton from "@components/ui/MenuButton.astro"
import LinkButton from "@components/ui/LinkButton.astro"
import SidePanel from "@components/SidePanel.astro"

const categories = await getCategories()
const headerPosition = {
  normal: "relative",
  sticky: "sticky top-0 inset-x-0 z-20"
}

interface Props {
  position?: "normal" | "sticky"
}
const { position = "sticky" } = Astro.props as Props
const { category } = Astro.params
---

<header class:list={[headerPosition[position]]}>
  <div class="relative flex justify-between items-center py-5 px-6 h-20 bg-dunor-black text-white">
    <MenuButton id="sidepanel-button" />
    <SidePanel />

    <a href="/" class="shrink-0">
      <img src="/icons/dunor.svg" alt="DUNOR logo" class="w-36 h-5 xs:w-72 xs:h-10" />
    </a>

    <div class="flex justify-end items-center gap-4 -mx-2">
      <LinkButton href="/account" type="icon" title="Ingresar a tu cuenta">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-7 h-7">
          <use xlink:href="/icons/header.svg#user"></use>
        </svg>
      </LinkButton>
      <LinkButton
        href="/checkout/cart"
        type="icon"
        title="Verifica tu carrito"
        class="hidden xs:block relative"
      >
        <span
          id="cart-count"
          class="hidden absolute top-0 left-0 justify-center items-center size-4 bg-red-500 rounded-full text-white text-xs"
        >
          0
        </span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-7 h-7">
          <use xlink:href="/icons/header.svg#cart"></use>
        </svg>
      </LinkButton>
    </div>
  </div>
  <nav class="bg-gray-100 text-gray-500 text-sm uppercase">
    <ul class="flex justify-between gap-8 mx-auto py-3 px-8 max-w-6xl overflow-x-auto">
      {
        categories?.map(({ name }) => {
          return (
            <li class="shrink-0">
              <LinkButton
                href={`/categorias/${name.replace(/ /g, "-")}`}
                class={
                  "hover:text-dunor-black" + (category === name && " text-dunor-black font-medium")
                }
              >
                {name}
              </LinkButton>
            </li>
          )
        })
      }
    </ul>
  </nav>
</header>

<script>
  import { getCart } from "@lib/cart"

  const cartCount = document.getElementById("cart-count")!
  window.addEventListener("DOMContentLoaded", checkCartCount)
  window.addEventListener("cart:updated", checkCartCount)

  function checkCartCount() {
    const cart = getCart()
    const count = cart.length

    if (count > 0) {
      cartCount.textContent = count.toString()
      cartCount.classList.remove("hidden")
      cartCount.classList.add("flex")
    } else {
      cartCount.classList.remove("flex")
      cartCount.classList.add("hidden")
    }
  }
</script>
