---
import { supabase } from "@lib/supabase"
import MenuButton from "@components/ui/MenuButton.astro"
import LinkButton from "@components/ui/LinkButton.astro"
import SidePanel from "@components/SidePanel.astro"

const { data: categories } = (await supabase.from("categories").select("name")) as {
  data: { name: string }[]
}
const headerPosition = {
  normal: "relative",
  sticky: "sticky top-0 inset-x-0 z-20"
}

interface Props {
  position?: "normal" | "sticky"
}
const { position = "sticky" } = Astro.props

// Check for products in cart
let productsInCart = 0
if (Astro.cookies.has("user-cart")) {
  const cart = Astro.cookies.get("user-cart")?.json() as { id: string }[]
  productsInCart = cart.length
}
---

<header class:list={[headerPosition[position]]}>
  <div class="relative flex justify-between items-center py-5 px-6 h-20 bg-dunor-black text-white">
    <MenuButton id="sidepanel-button" />
    <SidePanel />

    <a href="/" class="shrink-0">
      <img src="/icons/dunor.svg" alt="DUNOR logo" class="w-36 h-5 xs:w-72 xs:h-10" />
    </a>

    <div class="flex justify-end items-center gap-4 -mx-2">
      <LinkButton href="/account" type="icon" title="Ingresar a tu cuenta">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-7 h-7">
          <use xlink:href="/icons/header.svg#user"></use>
        </svg>
      </LinkButton>
      <LinkButton href="/checkout/cart" type="icon" title="Verifica tu carrito" class="hidden xs:block relative">
        <span class="absolute top-0 left-0 flex justify-center items-center size-4 bg-red-500 rounded-full text-white text-xs">
          {productsInCart}
        </span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-7 h-7">
          <use xlink:href="/icons/header.svg#cart"></use>
        </svg>
      </LinkButton>
    </div>
  </div>
  <nav class="bg-gray-100 text-gray-500 text-sm font-semibold uppercase">
    <ul class="flex justify-between gap-8 mx-auto py-3 px-8 max-w-4xl overflow-x-auto">
      {
        categories.map(({ name }) => {
          return (
            <li>
              <LinkButton href={`/categorias/${name}`}>{name}</LinkButton>
            </li>
          )
        })
      }
    </ul>
  </nav>
</header>
