---

---

<form method="get" class="flex items-center justify-end gap-6 pr-8 text-neutral-500">
  <div>
    <button type="submit" name="sort" value="name-asc" title="Nombre Ascendente">
      <svg xmlns="http://www.w3.org/2000/svg" class="p-1 w-12 h-12 rounded hover:bg-neutral-200">
        <use xlink:href="/icons/filters.svg#name-asc"></use>
      </svg>
    </button>
    <button type="submit" name="sort" value="name-desc" title="Nombre Descendente">
      <svg xmlns="http://www.w3.org/2000/svg" class="p-1 w-12 h-12 rounded hover:bg-neutral-200">
        <use xlink:href="/icons/filters.svg#name-desc"></use>
      </svg>
    </button>
  </div>
  <div>
    <button type="submit" name="sort" value="price-asc" title="Precio Ascendente">
      <svg xmlns="http://www.w3.org/2000/svg" class="p-1 w-12 h-12 rounded hover:bg-neutral-200">
        <use xlink:href="/icons/filters.svg#price-asc"></use>
      </svg>
    </button>
    <button type="submit" name="sort" value="price-desc" title="Precio Descendente">
      <svg xmlns="http://www.w3.org/2000/svg" class="p-1 w-12 h-12 rounded hover:bg-neutral-200">
        <use xlink:href="/icons/filters.svg#price-desc"></use>
      </svg>
    </button>
  </div>
</form>
