---

---

<form method="get" id="sort-form" class="flex items-center gap-1 mt-5 text-neutral-600">
  <label for="sort">Ordenar por</label>
  <select
    name="sort"
    id="sort"
    class="py-2 cursor-pointer focus-visible:outline-dashed focus-visible:outline-2 focus-visible:outline-neutral-500"
  >
    <option value="name-asc">Nombre Ascendente</option>
    <option value="name-desc">Nombre Descendente</option>
    <option value="price-asc">Menor Precio</option>
    <option value="price-desc">Mayor Precio</option>
  </select>
</form>

<script>
  const form = document.getElementById("sort-form")! as HTMLFormElement
  const sort = document.getElementById("sort")! as HTMLSelectElement
  sort.addEventListener("input", () => form.submit())

  window.addEventListener("load", () => {
    const url = new URL(window.location.href)
    const sortValue = url.searchParams.get("sort")
    if (sortValue) sort.value = sortValue
  })
</script>
