<div
  id="sidepanel"
  class="fixed top-20 left-0 py-6 w-0 h-svh bg-dunor-black/90 backdrop-blur-sm overflow-x-hidden z-20 transition-all"
>
  <nav class="flex flex-col items-end gap-10 mt-8 px-6">
    <slot />
  </nav>
</div>

<script>
  const sidePanel = document.getElementById("sidepanel")
  const sidePanelButton = document.getElementById("sidepanel-button")
  let isOpen = false

  sidePanelButton.addEventListener("click", () => {
    if (isOpen) sidePanel.style.width = "0"
    else sidePanel.style.width = "16rem"
    isOpen = !isOpen
  })
</script>
